{% extends 'index.html' %}
{% block content %}
<div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0">
                    <thead class="table-secondary">
                        <tr>

                            <th class="align-middle" scope="col">Shoes Category</th> 
                            <th class="align-middle" scope="col">Shoes Brand</th>
                            <th class="align-middle" scope="col">Product Name</th>
                            <th class="align-middle" scope="col">Quantity</th>
                            <th class="align-middle" scope="col">Country of origin</th>
                            <th class="align-middle" scope="col">Manufactured By</th>
                            <th class="align-middle" scope="col">MRP</th>
                            <th class="align-middle" scope="col">Size</th>
                            <th class="align-middle" scope="col">Description</th>
                            <th class="align-middle" scope="col">Product Image1</th>
                            <th class="align-middle" scope="col">Product Image2</th>
                            <th class="align-middle" scope="col">Product Image3</th>
                            <th class="align-middle" scope="col">Product Image4</th>
                            <th class="align-middle" scope="col">Product Image5</th>
                            <th class="align-middle" scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for i in key %}
                        <tr>
                            <td>{{i.Shoes_Category|upper}}</td>
                            <td>{{i.Shoes_Brand|upper}}</td>
                            <td>{{i.Product_Name|upper}}</td>
                            <td>{{i.Quantity|upper}}</td>
                            <td>{{i.Country_of_origin|upper}}</td>
                            <td>{{i.Manufactured_By|upper}}</td>
                            <td>{{i.MRP|upper}}</td>
                            <td>{{i.Size}}</td>
                            <td>{{i.Description|upper}}</td>
                            <td><img src="{{i.Product_Image_1.url}}" style="width: 70px; height: 70px;"></td>
                            <td><img src="{{i.Product_Image_2.url}}" style="width: 70px; height: 70px;"></td>
                            <td><img src="{{i.Product_Image_3.url}}" style="width: 70px; height: 70px;"></td>
                            <td><img src="{{i.Product_Image_4.url}}" style="width: 70px; height: 70px;"></td>
                            <td><img src="{{i.Product_Image_5.url}}" style="width: 70px; height: 70px;"></td>
                            <td>
                                <a href="{% url 'Edit_Product' edit_id=i.id %}">
                                    <button class="btn btn-sm font-sm rounded btn-success ">
                                        <i class="material-icons md-edit"></i>Edit</button>
                                </a>

                                <a href="{% url 'Delete_Product' del_id=i.id %}">
                                    <button class="btn btn-sm font-sm rounded btn-danger ">
                                        <i class="material-icons md-delete_forever"></i>Delete</button>
                                </a>

                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div> <!-- table-responsive end// -->
    </div>
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
      {% for i in messages %}
        {% if i.tags == 'success' %}
         <script>
            swal('{{i}}','','success');
         </script>
         {% elif i.tags == 'error' %}
         <script>
            swal('{{i}}','','error');
         </script>
         {% elif i.tags == 'warning' %}
         <script>
            swal('{{i}}','','warning');
         </script>
         {% else %}
         <script>
            swal('{{i}}','','info');
         </script>
        {% endif %}
      {% endfor %}
    {% endif %}
{% endblock %}